body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('C:\Users\tmekki\Desktop\frontendreactjs\public\images\SSS.jpg'); /* Remplacez 'chemin_vers_votre_image.jpg' par le chemin de votre image */
  background-size: 1250px 671px; /* Pour couvrir toute la surface de la page */
  background-position: center; /* Pour centrer l'image */
  background-repeat: no-repeat; /* Pour éviter que l'image se répète */
}







